{% extends 'base.html' %}

{% block title %} MÉDICOS | EDIT {% endblock %}

{% block content %}

<h1>Actualización de médico</h1>

<form action="{{url_for('medico.edit', id=medico.id)}}" method="POST">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{ medico.nombre }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input type="text" class="form-control" name="especialidad" value="{{ medico.especialidad }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" value="{{ medico.telefono }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" value="{{ medico.correo }}">
    </div>

    <button type="submit" class="btn btn-primary">
        Actualizar médico
    </button>

</form>

{% endblock %}